h1 {
  text-align: center;
  font-weight: normal;
}

body {
  font: 16px/28px 'Microsoft YaHei';
}

.gray {
  color: gray;
  font-size: 12px;
  text-align: center;
}

a {
  text-decoration: none;
}

#search {
  color: #666;
}

p {
  text-indent: 2em;
}

#pic {
  text-align: center;
}

.footer {
  color: blue;
}