a {
  display: block;
  background-color: black;
  color: white;
  width: 230px;
  height: 41px;
  text-decoration: none;
  font-size: 14px;
  text-indent: 2em;
  line-height: 41px;
}

a:hover {
  background-color: yellow;
}